{% extends 'base.html'%}
{% block title %} booking {% endblock %}
{% block content %}
<div>
<h1 style="text-align:center;background-color:  rgb(15, 25, 37);
color: white;width:100%;height: 200px;padding-top: 5cap;padding: 50px 50px 50px 50px;font-size: 60px;font-weight: 500;font-family: fantasy;"><img src="https://static.vecteezy.com/system/resources/thumbnails/012/439/757/small_2x/creative-gym-fitness-logo-design-template-blue-gold-png.png"alt="" width="70px" height="70px">
  Welcome to the Experience</h1>
</div>
<div class="text-center">
    <img src="https://t3.ftcdn.net/jpg/00/95/66/36/360_F_95663690_w21ZAFRitPFHL28BYyk6v5JZB0Vu7jQu.jpg" class="rounded float-start" alt="..." ><br><br>
   <div style="padding-left: 20px;;
   display: flex;
     flex-direction: column;
     align-items: center;
     border: 4px outset green;
     justify-content: center;
     min-width: 12rem;
     min-height: 12rem;
     border-radius: 0px;
  background: linear-gradient(145deg, #121111, #1a1919);
  /* box-shadow:  5px 5px 25px #a1dc7f,
               -10px -10px 40px #a1dc7f; */
  margin: 0 2rem;
  padding: 0 2rem;
  color: #0b0a0d;
  text-shadow: -6px 6px 15px rgba(0,0,0,0.5),
                6px -6px 15px rgba(16, 15, 15, 0.8);">
    <h1 style="text-align: center;color:rgb(242, 239, 239);font-weight: 500;font-size: 35px;font-family: fantasy">
      OUR MISSION
  &
  CONCEPT
    </h1><br>
    <p style="font: size 17px;text-align: left;font-weight: 100;color: white;font-family: fantasy">Our concept is simple. Provide our local communities with the most motivating fitness environment possible.  As a valued member, you will receive the cleanest facilities with the friendliest staff guaranteed.  No matter your gym experience or level of fitness, you will find our atmosphere welcoming and inspiring. Our mission is to ultimately help you achieve your end goal. 
        </p>
   </div><br><br><br><br><br><br><br><br>
  </div>
{% endblock %}