<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>confirmation</title>
    <style>
        body{
            background-color:#4070f4;
        }
        .box{
            padding-left: 73px;
    padding-top: 90px;
    padding: 50px;
    color: white;
        }
    </style>
</head>
<body>
    <form>
    
<div style="margin-top: 80px;padding-left: 535px;">
<div class="container text-center">
    <div class="alert alert-secondary" role="alert">
        <div style="font-size: 20px;top:20px;">
            
    <!-- <h2 style="color:green;">Payment Successfull <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/28/Green_check_icon_with_gradient.svg/1024px-Green_check_icon_with_gradient.svg.png" alt="" width="45px" height="45px"></h2><br> -->
    
    
        <h3 class="box">Your Booking is Confirmed<img style="padding-top: 50px;"src= "https://upload.wikimedia.org/wikipedia/commons/thumb/2/28/Green_check_icon_with_gradient.svg/1024px-Green_check_icon_with_gradient.svg.png" alt="" width="45px" height="45px"></h3>
        <h3 style="padding-left: 140px;padding-top: 0px;"class="box">Thank You !</h3><br>
    
    <p style="padding-left: 133px;"><a style="text-decoration: none;color: white;" href="{% url 'index' %}">Go to Home Page</a></p>
        </div>
        
    </div>
    </div>
    </div>
</form>

    </div>
</body>
</html>
